* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font: 40px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    user-select: none;
}

html {
    height: 100%;
    background: rgb(230, 230, 230);
}

body {
    min-height: 100%;
    height: auto;
    width: 1300px;
    margin: 0 auto;
    background: rgb(204, 204, 204);
}

header {
    width: 1300px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    color: white;
    background: grey;
}

.menuCase {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 141px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    background: rgb(82, 82, 82);
    border-radius: 5px;
    cursor: pointer;
}

.menuCase:active {
    color: rgb(207, 207, 207);
}

.menuCase ul li {
}

footer {
    width: 1300px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

footer span,
footer span a {
    font-size: 25px;
    color: rgb(110, 110, 110);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

footer span a:active {
    color: rgb(170, 170, 170);
}

.body {
    margin: 0 auto;
    width: 1100px;
    padding: 100px 0 80px 0;
}

h1 {
    margin-bottom: 20px; 
}

.sadDog {
    width: 1300px;
}

.time {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
}